body {
    background-color: rgb(2, 1, 12);
    color: white;
}
table, tr, th {
    border: 1px dashed white;
    border-collapse: collapse;
    padding: 10px;
}
table {
    margin-left: 100px;
}
th {

    font-size: large;
}
a {
    text-decoration: none;
    color: white;
}